# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
ENV/
env/

# Editor Configs
.vscode/
.idea/

# MacOS metadata
.DS_Store

# Environment Config
.env
.env.*

# Logs & coverage
*.log
*.out
*.pid
.coverage
htmlcov/
dist/
build/

# Pytest cache
.pytest_cache/
.cache/

# Streamlit
.streamlit/config.toml

# Jupyter
.ipynb_checkpoints

# Local databases
*.sqlite3
*.db

# Wheel and distribution
*.egg-info/
*.egg/
